<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>403139981105-0v9fgsocf7ibpos9amupajmhblddo2pd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.403139981105-0v9fgsocf7ibpos9amupajmhblddo2pd</string>
	<key>API_KEY</key>
	<string>AIzaSyB9LjFbCiZq9ufd60kHG_FPwFvpsUN2CkM</string>
	<key>GCM_SENDER_ID</key>
	<string>403139981105</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vishal.UnderDogToDoList</string>
	<key>PROJECT_ID</key>
	<string>underdogtodol</string>
	<key>STORAGE_BUCKET</key>
	<string>underdogtodol.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:403139981105:ios:c8f406d26a0ff3c0b28a10</string>
</dict>
</plist>